In [ ]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-10-09 22:57:22--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  4.95MB/s    in 0.2s

2021-10-09 22:57:22 (4.95 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [ ]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Major_Appliances_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Major_Appliances_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   16199106|R203HPW78Z7N4K|B0067WNSZY|     633038551|FGGF3032MW Galler...|Major Appliances|          5|            0|          0|   N|                Y|If you need a new...|What a great stov...| 2015-08-31|
|         US|   16374060|R2EAIGVLEALSP3|B002QSXK60|     811766671|Best Hand Clothes...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|        worked great| 2015-08-31|
|         US|   15322085|R1K1CD73HHLILA|B00EC452R6|     345562728|Supco SET184 Ther...|Major Appliances|          5|            0|          0|   N|                Y|       Fast Shipping|Part exactly what...| 2015-08-31|
|         US|   32004835|R2KZBMOFRMYOPO|B00MVVIF2G|     563052763|Midea WHS-160RB1 ...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|Love my refrigera...| 2015-08-31|
|         US|   25414497| R6BIZOZY6UD01|B00IY7BNUW|     874236579|Avalon Bay Portab...|Major Appliances|          5|            0|          0|   N|                Y|          Five Stars|No more running t...| 2015-08-31|
|         US|   36311751|R1MCXZFNF8E7Y0|B0033X29CI|     294467812|Danby  Freestandi...|Major Appliances|          1|            0|          0|   N|                Y|       Piece of Junk|It would not cool...| 2015-08-31|
|         US|   30920961|R3EMB3E3ODR6BW|B005R597HA|     183784715|Avanti 110-Volt A...|Major Appliances|          5|            2|          2|   N|                Y|Works awesome for...|Works awesome for...| 2015-08-31|
|         US|   52491265| RJTONVTTOPJ5S|B00MO6V8Y0|     960251524|      Danby products|Major Appliances|          5|            0|          0|   N|                Y|          Five Stars|exactly what I wa...| 2015-08-31|
|         US|   48166169|R21U5QZ2CQECUM|B00HT39QDI|     992475314|3 Pack Tier1 MSWF...|Major Appliances|          4|            0|          0|   N|                Y|          Four Stars|       AS advertised| 2015-08-31|
|         US|   50394924| RL2BBC51H89DH|B00LESFZ52|       1641606|True TSSU-60-16 6...|Major Appliances|          4|            0|          0|   N|                Y|but has poor insu...|It works as adver...| 2015-08-31|
|         US|    3915552|R3RNEPHF3WIRSZ|B0149IJVPI|     838108342|Magic: the Gather...|Major Appliances|          2|            0|          0|   N|                N|           Two Stars|it's not worth 22...| 2015-08-31|
|         US|   17068589|R38DNT9KML2PF3|B002HT0958|     387104338|Mini Portable Cou...|Major Appliances|          5|            0|          0|   N|                Y| Love it for camping|Wonderful! It spi...| 2015-08-31|
|         US|   52081068|R2ECMBJM8KNNC8|B006WOBNX6|     180688127|1 X Dishwasher Ra...|Major Appliances|          4|            0|          0|   N|                Y|          Four Stars|Did the job but d...| 2015-08-31|
|         US|   13783713|R2F3F92PRN9T7S|B00NLPMOU0|     570132358|Watson 1.5 ft AC ...|Major Appliances|          5|            0|          0|   N|                Y|Very well satisfied.|Arrived on time a...| 2015-08-31|
|         US|   14555366|R35XNT88XVEMK6|B00KJ07SEM|     313983847|GE MWF SmartWater...|Major Appliances|          5|            1|          1|   N|                Y|          Five Stars|               Super| 2015-08-31|
|         US|   48417244| RZRXLHQS71FUP|B001AT2ALM|     364403440|Koldfront Ultra C...|Major Appliances|          4|            1|          1|   N|                Y|          Four Stars|Looking forward t...| 2015-08-31|
|         US|   19010760|R3J9T4MZRAURV5|B00JG8B42K|     672722354|OnePurify RFC0800...|Major Appliances|          1|            0|          0|   N|                Y|     dont waste your|cheap knock-off. ...| 2015-08-31|
|         US|   43532555|R3CLDHHI0ZSQLO|B00FRJ5EWS|     137548022|2016 Life Water I...|Major Appliances|          5|            1|          2|   N|                N|       Great Product|My wife is lookin...| 2015-08-31|
|         US|   21879631| RY52KZABZK8QF|B0052G14E8|     423421857|Danby 0.7 cu.ft. ...|Major Appliances|          1|            0|          0|   N|                Y|Do not recommend ...|3 of the buttons ...| 2015-08-31|
|         US|     810098|R25RXV5X29M3UC|B00LOVVE9A|     386722389|SPT UF-304SS Ener...|Major Appliances|          4|            0|          1|   N|                Y|          Four Stars|     So far so good.| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
# Create the vine_table. DataFrame
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R203HPW78Z7N4K|          5|            0|          0|   N|                Y|
|R2EAIGVLEALSP3|          5|            1|          1|   N|                Y|
|R1K1CD73HHLILA|          5|            0|          0|   N|                Y|
|R2KZBMOFRMYOPO|          5|            1|          1|   N|                Y|
| R6BIZOZY6UD01|          5|            0|          0|   N|                Y|
|R1MCXZFNF8E7Y0|          1|            0|          0|   N|                Y|
|R3EMB3E3ODR6BW|          5|            2|          2|   N|                Y|
| RJTONVTTOPJ5S|          5|            0|          0|   N|                Y|
|R21U5QZ2CQECUM|          4|            0|          0|   N|                Y|
| RL2BBC51H89DH|          4|            0|          0|   N|                Y|
|R3RNEPHF3WIRSZ|          2|            0|          0|   N|                N|
|R38DNT9KML2PF3|          5|            0|          0|   N|                Y|
|R2ECMBJM8KNNC8|          4|            0|          0|   N|                Y|
|R2F3F92PRN9T7S|          5|            0|          0|   N|                Y|
|R35XNT88XVEMK6|          5|            1|          1|   N|                Y|
| RZRXLHQS71FUP|          4|            1|          1|   N|                Y|
|R3J9T4MZRAURV5|          1|            0|          0|   N|                Y|
|R3CLDHHI0ZSQLO|          5|            1|          2|   N|                N|
| RY52KZABZK8QF|          1|            0|          0|   N|                Y|
|R25RXV5X29M3UC|          4|            0|          1|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [ ]:
# 1.
# Filter the data and create a new DataFrame or table to retrieve all the rows where
# the total_votes count is equal to or greater than 20 to pick reviews that are
# more likely to be helpful and to avoid having division by zero errors later on.
from pyspark.sql.functions import col, count, round
votes20_df = vine_df.filter(col("total_votes") >= 20)
votes20_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1QXNQBTH7LIUB|          3|            9|         22|   N|                Y|
|R3BC75VKJK6LNV|          4|           83|         89|   N|                Y|
| R5XKK92G5N9FU|          1|           18|         22|   N|                N|
| RYMOWYW38WKOB|          5|           35|         35|   N|                N|
| RYHZAVESD0T37|          1|           39|         45|   N|                Y|
|R19Y5VBOF3BQOG|          1|           26|         35|   N|                Y|
| R8V9F3139Z1WZ|          1|           30|         34|   N|                N|
|R3RNY5OLY451GS|          1|           25|         30|   N|                Y|
|R16LPVYSJOAH1T|          1|           20|         20|   N|                N|
|R2NLL7ISMM5QYQ|          4|           89|         94|   N|                Y|
|R3FAFI6Q0YL37W|          1|           30|         35|   N|                Y|
|R1A4JVOP7N5Q1K|          5|           28|         30|   N|                Y|
|R30E25MXKEP9BP|          4|           36|         37|   N|                Y|
|R2FMLYX388LR2Y|          5|           28|         33|   N|                Y|
| R1EGFDXPYGROC|          5|           28|         32|   N|                Y|
|R2DCZYJZRF0V2O|          5|           26|         28|   N|                Y|
|R3QNOR0K43XLWB|          5|           41|         41|   N|                N|
| RPNUNJJZLD11P|          1|           26|         27|   N|                N|
|R39VRWWZWAHBPH|          1|           15|         21|   N|                Y|
| RU7XNN9EC8V8X|          1|           31|         36|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [ ]:
# 2.
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame
# or table to retrieve all the rows where the number of helpful_votes divided by
# total_votes is equal to or greater than 50%.

x_df = votes20_df.withColumn("calc", (((votes20_df['helpful_votes'])/(votes20_df['total_votes']))*100))
x_df = x_df.filter(col("calc")>="50")
x_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|             calc|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------+
|R3BC75VKJK6LNV|          4|           83|         89|   N|                Y|93.25842696629213|
| R5XKK92G5N9FU|          1|           18|         22|   N|                N|81.81818181818183|
| RYMOWYW38WKOB|          5|           35|         35|   N|                N|            100.0|
| RYHZAVESD0T37|          1|           39|         45|   N|                Y|86.66666666666667|
|R19Y5VBOF3BQOG|          1|           26|         35|   N|                Y|74.28571428571429|
| R8V9F3139Z1WZ|          1|           30|         34|   N|                N|88.23529411764706|
|R3RNY5OLY451GS|          1|           25|         30|   N|                Y|83.33333333333334|
|R16LPVYSJOAH1T|          1|           20|         20|   N|                N|            100.0|
|R2NLL7ISMM5QYQ|          4|           89|         94|   N|                Y|94.68085106382979|
|R3FAFI6Q0YL37W|          1|           30|         35|   N|                Y|85.71428571428571|
|R1A4JVOP7N5Q1K|          5|           28|         30|   N|                Y|93.33333333333333|
|R30E25MXKEP9BP|          4|           36|         37|   N|                Y| 97.2972972972973|
|R2FMLYX388LR2Y|          5|           28|         33|   N|                Y|84.84848484848484|
| R1EGFDXPYGROC|          5|           28|         32|   N|                Y|             87.5|
|R2DCZYJZRF0V2O|          5|           26|         28|   N|                Y|92.85714285714286|
|R3QNOR0K43XLWB|          5|           41|         41|   N|                N|            100.0|
| RPNUNJJZLD11P|          1|           26|         27|   N|                N|96.29629629629629|
|R39VRWWZWAHBPH|          1|           15|         21|   N|                Y|71.42857142857143|
| RU7XNN9EC8V8X|          1|           31|         36|   N|                Y|86.11111111111111|
|R2ZU7AC8QSDUOB|          4|           41|         44|   N|                Y|93.18181818181817|
+--------------+-----------+-------------+-----------+----+-----------------+-----------------+
only showing top 20 rows

In [ ]:
# 3.
# Filter the DataFrame or table created in Step 2, and create a new DataFrame
# or table that retrieves all the rows where a review was written as part of 
# the Vine program (paid), vine == 'Y'.

vine_paid_df = x_df.filter(col("vine")=="Y")
vine_paid = vine_paid_df.count()
print(vine_paid)

35

In [ ]:
# 4.
# Repeat Step 3, but this time retrieve all the rows where the review was not
# part of the Vine program (unpaid), vine == 'N'.

vine_unpaid_df = x_df.filter(col("vine") == "N")
vine_unpaid = vine_unpaid_df.count()
print(vine_unpaid)

4957

In [ ]:
# 5.
# Determine the total number of reviews, the number of 5-star reviews, and the
# percentage of 5-star reviews for the two types of review (paid vs unpaid).

# z = total number of reviews
z = vine_df.count()
print("The total number of reviews is " + str(z) + ".")

z5 = vine_df.filter(col("star_rating")==5).count()
print("The number of 5-star rating is " + str(z5) + ".")
print("")

# vine_paid = Yes = y 
# 5-star paids = a
# vine_paid_pct5 = percent of Y's that are 5-stars

print("The number of Vine (paid) reviews is " + str(vine_paid) + ".")
a = vine_paid_df.filter(col("star_rating")==5).count()
print("The number of Vine (paid) 5-star ratings is " + str(a) + ".")
vine_paid_pct5 = (a/vine_paid)*100
print("The percent of Vine (paid) 5-star reviews is " + str(vine_paid_pct5) + "%.")
print("")

# vine_unpaid = No = n
# 5-star unpaid = b
# vine_unpaid_pct5 = percent of N's that are 5-stars

print("The number of non-Vine (unpaid) reviews is " + str(vine_unpaid) + ".")
b = vine_unpaid_df.filter(col("star_rating")==5).count()
print("The number of non-Vine (unpaid) 5-star ratings is " + str(b) + ".")
vine_unpaid_pct5 = (b/vine_unpaid)*100
print("The percent of unpaid 5-star reviews is " + str(vine_unpaid_pct5) + "%.")

The total number of reviews is 96901.
The number of 5-star rating is 49704.

The number of Vine (paid) reviews is 35.
The number of Vine (paid) 5-star ratings is 18.
The percent of Vine (paid) 5-star reviews is 51.42857142857142%.

The number of non-Vine (unpaid) reviews is 4957.
The number of non-Vine (unpaid) 5-star ratings is 1963.
The percent of unpaid 5-star reviews is 39.60056485777688%.